读取数据

In [5]:
import pandas as pd
import numpy as np

original_data = pd.read_csv('01.Tweets.csv',index_col=0)
original_data.info()

C:\Users\Vow\AppData\Local\Temp\ipykernel_16328\2062096559.py:4: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  original_data = pd.read_csv('01.Tweets.csv',index_col=0)

<class 'pandas.core.frame.DataFrame'>
Index: 500710 entries, 0 to 500709
Data columns (total 24 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   user_id             500710 non-null  float64
 1   timestamp           500710 non-null  object
 2   tweet_id            500710 non-null  int64
 3   sentiment_polarity  500661 non-null  float64
 4   text_lang_ft        500661 non-null  object
 5   text_normalized     500661 non-null  object
 6   links               151685 non-null  object
 7   hashtag             188848 non-null  object
 8   hashtag_lang        188825 non-null  object
 9   hashtag_en          188825 non-null  object
 10  cashtag             1232 non-null    object
 11  media               110293 non-null  object
 12  image_url           103777 non-null  object
 13  video_url           5637 non-null    object
 14  GIF_url             858 non-null     object
 15  likes               500710 non-null  int64
 16  retweets            500710 non-null  int64
 17  replies             500710 non-null  int64
 18  reply_to_user       67650 non-null   object
 19  mentioned_users     152968 non-null  object
 20  quoted_tweet        29868 non-null   float64
 21  quoted_by_count     500710 non-null  int64
 22  credibility         151685 non-null  float64
 23  tweet_source        500710 non-null  object
dtypes: float64(4), int64(5), object(15)
memory usage: 95.5+ MB

选择需要的字段

In [6]:
original_data=original_data[['user_id','timestamp','tweet_id','sentiment_polarity','text_normalized','likes','retweets','replies','reply_to_user','quoted_tweet','quoted_by_count','credibility']]
original_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500710 entries, 0 to 500709
Data columns (total 12 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   user_id             500710 non-null  float64
 1   timestamp           500710 non-null  object
 2   tweet_id            500710 non-null  int64
 3   sentiment_polarity  500661 non-null  float64
 4   text_normalized     500661 non-null  object
 5   likes               500710 non-null  int64
 6   retweets            500710 non-null  int64
 7   replies             500710 non-null  int64
 8   reply_to_user       67650 non-null   object
 9   quoted_tweet        29868 non-null   float64
 10  quoted_by_count     500710 non-null  int64
 11  credibility         151685 non-null  float64
dtypes: float64(4), int64(5), object(3)
memory usage: 49.7+ MB

数据类型转换

In [7]:
import ast

original_data['timestamp'] = pd.to_datetime(original_data['timestamp'], utc=True).dt.tz_convert(None)
original_data['text_normalized'] = original_data['text_normalized'].fillna('').apply(lambda x: ast.literal_eval(x) if x else [])
#有个数据输出的时候自己重复了一遍，所以用replace单独处理掉
original_data['reply_to_user'] = original_data['reply_to_user'].replace('15872418 15872418','15872418').astype(float)
original_data['credibility'] = original_data['credibility'].fillna(-1).astype(int)
# 找出带有空格的字符串字段
def find_strings_with_spaces(df):
    for column in df.select_dtypes(include=['object']).columns:
        df[f'{column}_has_spaces'] = df[column].apply(lambda x: ' ' in x if isinstance(x, str) else False)

find_strings_with_spaces(original_data)
original_data.head()

,user_id,timestamp,tweet_id,sentiment_polarity,text_normalized,likes,retweets,replies,reply_to_user,quoted_tweet,quoted_by_count,credibility
0,116680494.0,2013-09-03 02:22:09,374718928682885121,0.2732,"[nation, agree, build, new, silk, road, china,...",0,0,0,NaN,NaN,0,1
1,172576367.0,2013-09-03 02:22:11,374718937889402880,0.2732,"[nation, agree, build, new, silk, road, china,...",0,0,0,NaN,NaN,0,1
2,154226261.0,2013-09-03 10:11:50,374837127873175553,0.0000,"[high, speed, rail, china, new, silk, road, pe...",1,0,0,NaN,NaN,0,-1
3,61733677.0,2013-09-03 11:33:26,374857665735704576,0.2732,"[nation, agree, build, new, silk, road]",0,0,0,NaN,NaN,0,-1
4,87775422.0,2013-09-03 20:10:51,374987876737765376,0.0000,"[china, kazakhstan, tajikistan, russia, mongol...",2,6,0,NaN,NaN,0,0

In [8]:
original_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500710 entries, 0 to 500709
Data columns (total 12 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   user_id             500710 non-null  float64
 1   timestamp           500710 non-null  datetime64[ns]
 2   tweet_id            500710 non-null  int64
 3   sentiment_polarity  500661 non-null  float64
 4   text_normalized     500710 non-null  object
 5   likes               500710 non-null  int64
 6   retweets            500710 non-null  int64
 7   replies             500710 non-null  int64
 8   reply_to_user       67650 non-null   float64
 9   quoted_tweet        29868 non-null   float64
 10  quoted_by_count     500710 non-null  int64
 11  credibility         500710 non-null  int32
dtypes: datetime64[ns](1), float64(4), int32(1), int64(5), object(1)
memory usage: 47.8+ MB

In [9]:
original_data.to_csv('processed_data.csv')